@baseColor: #FD00FF;

// Analgous
  @analgous1: spin(@baseColor, 20);
  @analgous2: spin(@baseColor, 10);
  @analgous3: @baseColor;
  @analgous4: spin(@baseColor, -10);
  @analgous5: spin(@baseColor, -20);

// Clash (45°)
  //@clash1: @baseColor;
  //@clash2
  //@clash3
  
// Triadic
  @triad1: @baseColor;
  @triad2: spin(@baseColor, 120);
  @triad3: spin(@baseColor, -120);

// Tetradic
  @tetrad1: @baseColor;
  @tetrad2: spin(@baseColor, 90);
  @tetrad3: spin(@baseColor, 180);
  @tetrad4: spin(@baseColor, -90);
  
// Split Complementary
  //@splitComp1: @baseColor;
  //@splitComp2
  //@splitComp3
  
// Complementary
  @complementary: spin(@baseColor, 180);

// Compound
  //@compound1: @baseColor;
  //@compound2
  //@compound3
  //@compound4
  //@compound5

// Shades
  @shade1: lighten(@baseColor, 20%);
  @shade2: lighten(@baseColor, 10%);
  @shade3: @baseColor;
  @shade4: darken(@baseColor, 10%);
  @shade5: darken(@baseColor, 20%);
  
// Four tone
  //@4tone1: @baseColor;
  //@4tone2
  //@4tone3
  //@4tone4
  
// Five tone
  //@5tone1: @baseColor;
  //@5tone2
  //@5tone3
  //@5tone4
  //@5tone5
  
// Six tone
  //@6tone1: @baseColor;
  //@6tone2
  //@6tone3
  //@6tone4
  //@6tone5
  //@6tone6