@import 'colors';

body {
//  .analgous(#FF703B);
//  background: @analgous2;
  width: 100%;
}

.color {
  float: left;
  height: 500px;
  width: 20%;
//  &.one {background: @analgous1;}
  &.two {background: @complementary;}
  &.base {background: @baseColor;}
//  &.three {background: @triad2;}
//  &.four {background: @analgous4;}
}

